/** --------------------------------------------------------
    partials/_footer.scss
    --------------------------------------------------------
    @author Keenan Staffieri
    Footer styles.
    -------------------------------------------------------- */

/**
    .mainFooter
*/
.mainFooter {
    border-top: 1px solid $light-gray;
}

.mainFooter__inner {
    @include outer-container;
    @include pad(1em);
}

.mainFooter__copyright {
    display: block;
    color: $gray;
    font-size: em(12px);
    text-align: center;
}
