/** --------------------------------------------------------
    partials/_header.scss
    --------------------------------------------------------
    @author Keenan Staffieri
    Header styles.
    -------------------------------------------------------- */

/**
    .mainHeader
*/
.mainHeader {
    background-color: $color-primary;
    border-bottom: 2px solid $color-accent;
}

.mainHeader__inner {
    @include outer-container;
    @include pad(1em);
}

.mainHeader__site-title {
    color: white;
    margin: 0;
    cursor: default;
    text-shadow: 1px 2px 0 darken($color-primary, 20%);
}
