/** --------------------------------------------------------
	styles/_base.scss
	--------------------------------------------------------
	@author Keenan Staffieri
	Base theme styles.
	-------------------------------------------------------- */

body {
	color: $font-color-default;
	background-color: $bg-color;
	font-family: $font-family-base;
}

@import "typography";
