/** --------------------------------------------------------
    components/_buttons.scss
    --------------------------------------------------------
    @author Keenan Staffieri
    Button styles.
    -------------------------------------------------------- */

/**
    B U T T O N S
    .btn.{variations_class}
*/

$buttons: theme-category('buttons');

.btn {
    display: inline-block;
    @include populate-properties($buttons);

    // :hover
    @if map-has-key($buttons, 'hover-styles') {
        &:hover {
            $hover-properties: map-get($buttons, 'hover-styles');
            @include populate-properties($hover-properties);
        }
    }

    // Get button variation
    $button-variations: map-get($buttons, 'variations');

    // Get total number of button variations
    $num-button-variations: 1;

    @if type-of($button-variations) == list {
        $num-button-variations: length($button-variations);
    }

    // Generate button variations
    @for $i from 1 through $num-button-variations {

        $button: $button-variations;

        @if type-of($button-variations) == list {
            $button: nth($button-variations, $i);
        }

        $class-name: map-get($button, 'class-name');

        &.#{$class-name} {
            // Include button variation properties
            @include populate-properties($button);

            // :hover
            @if map-has-key($button, 'hover-styles') {
                &:hover {
                    $hover-properties: map-get($button, 'hover-styles');
                    @include populate-properties($hover-properties);
                }
            }
        }
    }
}
