/** --------------------------------------------------------
    components/_buttons.scss
    --------------------------------------------------------
    @author Keenan Staffieri
    Button styles.
    -------------------------------------------------------- */

// Buttons
// 
// Styleguide 2.

/**
    B U T T O N S
    .btn.{variations_class}
*/

// Buttons
//
// Paragraph styles.
//
// .primary - Primary button.
// .disabled - Disabled button.
//
// Markup:
// <a href="#" class="btn {$modifiers}">Button</a>
//
// Styleguide 2.1

.btn {
    display: block;
    margin-bottom: 10px;
    padding: 10px 30px;
    color: white;
    font-family: theme-font-family('base');
    background-color: theme-color('accent');
    transition: background-color 300ms ease-out;

    &:hover {
        color: white;
        background-color: theme-color('secondary');
    }

    @include media($x-small-up) {
        display: inline-block;
    }
}

.btn.primary {
    background-color: theme-color('primary');

    &:hover {
        color: white;
        background-color: theme-color('accent-shade');
    }
}

.btn.disabled {
    color: color('light-gray');
    background-color: color('gray');
    cursor: default;

    &:hover {
        color: color('light-gray');
        background-color: color('gray');
    }
}
