/** --------------------------------------------------------
    components/_navs.scss
    --------------------------------------------------------
    @author Keenan Staffieri
    Nav styles.
    -------------------------------------------------------- */

/**
    N A V
    Navigation styles.

    .main-nav,
    .main-nav-list,
    .main-nav-item
*/

.main-nav {
    @include span-columns(12);
    padding: 10px;
    background-color: color('black');

    @include media($small-up) {
        margin-top: 10px;
    }

    @include media($x-small-up) {
        @include span-columns(8);
        background-color: transparent;
    }
}

.main-nav-list {
    @include clearfix;
    @include reset-list();

    @include media($x-small-up) {
        float: right;
    }
}

.main-nav-item {
    float: left;
    margin: 0 15px;
    padding: 0;

    &:last-child {
        margin-right: 0;
    }

    &.active {
        a {
            color: theme-color('secondary');
        }
    }

    a {
        color: white;
        transition: color 300ms ease-in;

        &:hover {
            color: color('light-gray');
        }
    }
}
