/** --------------------------------------------------------
    utils/_mixins-buttons.scss
    --------------------------------------------------------
    @author Keenan Staffieri
    Mixins to generate various buttons.
    -------------------------------------------------------- */

@mixin ks-button($style: default) {

    display: inline-block;

    @if $style == default {
        @include ks-button-default();
    }
    @else if $style == primary {
        @include ks-button-primary();
    }
    @else if $style == large {
        @include ks-button-large();
    }
}

@mixin ks-button-default() {
    color:              $btn-default-font-color;
    font-size:          $btn-default-font-size;
    text-align:         center;
    background-color:   $btn-default-color;
    padding:            $btn-default-padding;
    transition:         $btn-default-transition;

    @if $btn-default-antialiased {
        -webkit-font-smoothing: antialiased;
    }

    &:hover {
        color:              $btn-default-font-color-hover;
        background-color:   $btn-default-color-hover;
    }
}

@mixin ks-button-primary() {
    color:              $btn-primary-font-color;
    font-size:          $btn-primary-font-size;
    text-align:         center;
    background-color:   $btn-primary-color;
    padding:            $btn-primary-padding;
    transition:         $btn-primary-transition;

    @if $btn-primary-antialiased {
        -webkit-font-smoothing: antialiased;
    }

    &:hover {
        color:              $btn-primary-font-color-hover;
        background-color:   $btn-primary-color-hover;
    }
}

@mixin ks-button-large() {
    color:              $btn-large-font-color;
    font-size:          $btn-large-font-size;
    text-align:         center;
    background-color:   $btn-large-color;
    padding:            $btn-large-padding;
    transition:         $btn-large-transition;

    @if $btn-large-antialiased {
        -webkit-font-smoothing: antialiased;
    }

    &:hover {
        color:              $btn-large-font-color-hover;
        background-color:   $btn-large-color-hover;
    }
}
