<!--
 __           .__          __          
|  | ________ |  | _____ _/  |_  ____  
|  |/ /\____ \|  | \__  \\   __\/ __ \ 
|    < |  |_> >  |__/ __ \|  | \  ___/ 
|__|_ \|   __/|____(____  /__|  \___  >
     \/|__|             \/          \/ 
                kplate
    https://github.com/keezoid/kplate
____________________________________________

"It all begins here." - Keenan Staffieri
-->
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <title>My kplate</title>

        <meta name="description" content="My kplate website.">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
        <link rel="apple-touch-icon" href="/apple-touch-icon.png">

        <!-- Google Fonts -->
        <link href='http://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic,700italic|Source+Sans+Pro:700' rel='stylesheet' type='text/css'>

        <!-- Stylesheets-->
        <!-- inject:css -->
        <!-- endinject -->
    </head>
    <body>

        <!-- Main Header -->
        <header class="main-header">
            <div class="inner-container">

                <h1 class="title">My Site</h1>

                <!-- Main Nav -->
                <nav class="main-nav">
                    <ul class="main-nav-list">
                        <li class="main-nav-item active">
                            <a href="/">Home</a>
                        </li>
                        <li class="main-nav-item">
                            <a href="/">Style Guide</a>
                        </li>
                        <li class="main-nav-item">
                            <a href="/">Grid</a>
                        </li>
                        <li class="main-nav-item">
                            <a href="/">Icons</a>
                        </li>
                        <li class="main-nav-item">
                            <a href="/">JavaScript</a>
                        </li>
                    </ul>
                </nav> <!-- .main-nav -->

            </div>
        </header> <!-- .main-header -->

        <!-- Hero -->
        <section class="hero">
            <h1 class="kplate-logo">kplate</h1>
            <p class="hero-quote">&ldquo;It all begins here.&rdquo;</p>
            <p class="from-who">A front-end boilerplate by Keenan Staffieri</p>
            <a href="https://github.com/keezoid/kplate" target="_blank" class="btn btn-hero">
                <i class="fa fa-github-alt"></i>View on Github
            </a>
        </section> <!-- .hero -->

        <section class="index-content">
            <div class="inner-container">
                <div class="col">
                    <i class="fa fa-adn"></i>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem quibusdam, similique eveniet fugiat saepe debitis odit expedita, excepturi sint, error natus! Quae voluptatum velit quisquam, suscipit fuga omnis explicabo molestiae animi, ad ratione, ipsa excepturi placeat totam pariatur iusto cupiditate sit sapiente labore in molestias! Voluptatibus aperiam hic repellat ad.</p>
                </div>
                <div class="col">
                    <i class="fa fa-adn"></i>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem quibusdam, similique eveniet fugiat saepe debitis odit expedita, excepturi sint, error natus! Quae voluptatum velit quisquam, suscipit fuga omnis explicabo molestiae animi, ad ratione, ipsa excepturi placeat totam pariatur iusto cupiditate sit sapiente labore in molestias! Voluptatibus aperiam hic repellat ad.</p>
                </div>
                <div class="col">
                    <i class="fa fa-adn"></i>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem quibusdam, similique eveniet fugiat saepe debitis odit expedita, excepturi sint, error natus! Quae voluptatum velit quisquam, suscipit fuga omnis explicabo molestiae animi, ad ratione, ipsa excepturi placeat totam pariatur iusto cupiditate sit sapiente labore in molestias! Voluptatibus aperiam hic repellat ad.</p>
                </div>
            </div>
        </section>

        <!-- Site Footer -->
        <footer class="main-footer">
            <div class="inner-container">
                <span class="copyright-line">
                    &copy; Copyright 2015 Keenan Staffieri
                    &bull;
                    kplate v0.4.0
                </span>
            </div>
        </footer> <!-- .main-footer -->

        <!-- Scripts -->
        <!-- replace:js-cdn -->
        <!-- inject:js -->
        <!-- endinject -->
    </body>
</html>
