<!--
 __           .__          __          
|  | ________ |  | _____ _/  |_  ____  
|  |/ /\____ \|  | \__  \\   __\/ __ \ 
|    < |  |_> >  |__/ __ \|  | \  ___/ 
|__|_ \|   __/|____(____  /__|  \___  >
     \/|__|             \/          \/ 
                kplate
    https://github.com/keezoid/kplate
____________________________________________

"A place to get started." - Keenan Staffieri
-->
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <title>My kplate</title>

        <meta name="description" content="My kplate website.">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
        <link rel="apple-touch-icon" href="/apple-touch-icon.png">

        <!-- Stylesheets-->
        <!-- inject:css -->
        <!-- endinject -->
    </head>
    <body>

        <!-- Site Header -->
        <header class="mainHeader">
            <div class="mainHeader__inner">
                <h1 class="mainHeader__site-title">My kplate</h1>           
            </div>
        </header> <!-- .mainHeader -->

        <!-- Main Content -->
        <section class="mainContent">

            <div class="mainContent__left">
                <h1>Welcome!</h1>
                <h4 class="subheading"><em>Let it begin!</em></h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas, explicabo!</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In dolores omnis sunt tempore magnam! Distinctio suscipit consequuntur laudantium et commodi.</p>
                <hr>
                <p>This is a <a href="#">Link</a>.</p>
            </div>

            <div class="mainContent__right">
                <img src="http://placehold.it/300x250" alt="Placeholder image">
            </div>

        </section> <!-- .mainContent -->

        <!-- Main Columns -->
        <section class="mainCols">

            <div class="mainCols__col">
                <h3>Column 1</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita unde molestiae iure, reiciendis laboriosam? Quaerat quidem quibusdam minima atque. Dicta.</p>
            </div>

            <div class="mainCols__col">
                <h3>Column 2</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita unde molestiae iure, reiciendis laboriosam? Quaerat quidem quibusdam minima atque. Dicta.</p>
            </div>

            <div class="mainCols__col">
                <h3>Column 3</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita unde molestiae iure, reiciendis laboriosam? Quaerat quidem quibusdam minima atque. Dicta.</p>
            </div>

        </section> <!-- .mainCols -->

        <!-- Site Footer -->
        <footer class="mainFooter">
            <div class="mainFooter__inner">
                <span class="mainFooter__copyright">
                    &copy; Copyright 2014 Keenan Staffieri.
                </span>
            </div>
        </footer> <!-- .mainFooter -->

        <!-- Scripts -->
        <!-- inject:js -->
        <!-- endinject -->
    </body>
</html>
