/** --------------------------------------------------------
    theme-configs/_default.scss
    --------------------------------------------------------
    @author Keenan Staffieri
    Default theme configuration settings.
    -------------------------------------------------------- */

$theme-config: (

    'name': $default-theme-name,


    /* --------------------------
       C O L O R S
       -------------------------- */

    /**
        Colors used throughout the site.
    **/
    'colors': (
        'black':       #202A25,
        'teal':        #84DCC6,
        'blue':        #068D9D,
        'light-blue':  #85BDBF,
        'gray-blue':   #57737A,
        'gray':        #666,
        'light-gray':  #ddd,
        'dark-gray':   #333,
        'white':       white,
        'transparent': transparent
    ),


    /**
        Must only use colors declared from 'colors'.
        'color-aliases' are simply names that map to 'colors'.
    **/

    'color-aliases': (
        'primary':   'blue',
        'secondary': 'teal',
        'accent':    'light-blue'
    ),



    /* --------------------------
       B A S E  S T Y L E S
       -------------------------- */

    /** Page background, accepts only valid css color or image path. **/
    'page-background': #f6f6f6,



    /* --------------------------
       T Y P O G R A P H Y
       -------------------------- */

    'fonts': (
        'base':     "'Noto Sans', Helvetica, Arial, sans-serif",
        'headings': "Helvetica, Arial, sans-serif"
    ),


    'typography': (

        // Base typographic styles
        'font-family':             'base',
        'font-size':               16px,
        'font-weight':             normal,
        'font-style':              normal,
        'line-height':             24px,
        'font-antialias':          false,
        'font-optimizelegibility': false,

        'headings': (
            (
                'selector':                'h1.main-heading',
                'color':                   'primary',
                'font-family':             'headings',
                'font-size':               em(50px),
                'font-antialias':          true,
                'font-optimizelegibility': true,
                'margin':                  0 0 30px 0
            ),
            (
                'selector':                'h1',
                'font-family':             'headings',
                'font-size':               em(40px),
                'line-height':             55px,
                'font-antialias':          true,
                'font-optimizelegibility': true,
                'margin':                  0 0 20px 0
            ),
            (
                'selector':                'h2',
                'font-family':             'headings',
                'font-size':               em(30px),
                'line-height':             35px,
                'font-antialias':          true,
                'font-optimizelegibility': true,
                'margin':                  0 0 20px 0
            ),
            (
                'selector':                'h3',
                'font-size':               em(24px),
                'line-height':             28px,
                'margin':                  0 0 20px 0
            ),
            (
                'selector':                'h4',
                'font-size':               em(20px),
                'line-height':             24px,
                'margin':                  0 0 20px 0
            ),
            (
                'selector':                'h5',
                'font-size':               em(18px),
                'font-weight':             bold,
                'line-height':             24px,
                'margin':                  0 0 10px 0
            ),
            (
                'selector':                'h6',
                'font-weight':             bold,
                'margin':                  0 0 10px 0
            )
        ),

        'paragraphs': (
            'margin': 0 0 10px 0,

            'variations': (
                (
                    'class-name': 'lead',
                    'font-size':  em(24px)
                ),
                (
                    'class-name': 'lg-quote',
                    'color':      'gray',
                    'font-size':  em(20px),
                    'font-style': 'italic'
                ),
                (
                    'class-name': 'quote',
                    'color':      'gray',
                    'font-style': 'italic'
                )
            )
        ),

        'anchors': (
            'color':           'secondary',
            'text-decoration': none,
            'transition':      'color 300ms ease-in',

            // :hover
            'hover-styles': (
                'color':       'accent',
                'font-weight': bold
            ),

            // :active
            'active-styles': (
                'color': 'light-blue'
            ),

            // :visited
            'visited-styles': (
                'color': 'gray'
            ),

            'variations': (
                (
                    'class-name':  'active',
                    'color':       'primary',
                    'font-weight': bold
                ),
                (
                    'class-name':  'disabled',
                    'color':       'gray',

                    // :hover
                    'hover-styles': (
                        'color':       'gray',
                        'font-weight': bold
                    ),

                    // :active
                    'active-styles': (
                        'color': 'gray'
                    ),

                    // :visited
                    'visited-styles': (
                        'color': 'gray'
                    ),
                )
            )
        )
    ),


    /* --------------------------
       C O M P O N E N T S
       -------------------------- */

    /** Must only use colors declared from 'colors' or 'theme-colors'. **/

    'header': (
        'padding':          20px,
        'background-color': 'black'
    ),


    'nav': (
        'padding':          10px,
        'background-color': 'transparent',

        // Nav Items
        'nav-item-margin':        0 15px,
        'nav-item-padding':       0,
        'nav-item-color':         'white',
        'nav-item-color--active': 'teal',
        'nav-item-hover-color':   'light-gray',
        'nav-item-transition':    color 300ms ease-in
    ),


    // TO ADD: Buttons maps, with nested maps where each item
    // is a new button type like btn-outline, etc
    'buttons': (
        'padding':     10px 20px,
        'color':       'white',
        'font-family': 'base'
    ),


    'hero': (
        'padding':          60px 0,
        'background-color': 'accent'
    ),


    'z-layers': (
        'default':      1,
        'modal':        1000,
        'force-front':  9999,
        'force-back':   -9999
    )

);

$themes: append($themes, $theme-config);


/// Prints a map as a CSS rule
/// @param {Map} $map
 
@mixin debug-map($map) {
    @at-root {
        @debug-map {
            __toString__: inspect($map);
            __length__: length($map);
            __depth__: depth($map);
            __keys__: map-keys($map);
            __properties__ {
                @each $key, $value in $map {
                    #{'(' + type-of($value) + ') ' + $key}: inspect($value);
                }
            }
        }
    }
}

// @include debug-map($themes);



/**
    Theme Colors
*/
$color-primary:     #00accc;
$color-secondary:   #ff338c;
$color-accent:      #ff8219;

$bg-color: #f6f6f6;

$link-color:        $color-secondary;
$link-hover-color:  darken($color-secondary, 20%);
$link-active-color: $color-accent;


/**
    Default Colors
*/
$light-gray:    #ccc;
$gray:          #999;
$dark-gray:     #333;


/**
    Font Families
*/
$font-family-base:          'Noto Sans', Helvetica, Arial, sans-serif;
$font-family-headings:      $font-family-base;
$font-family-subheadings:   $font-family-base;


/**
    Font Colors
*/
$font-color-base: #333;


/**
    Buttons
*/

// Default
$btn-default-color:             $color-secondary;
$btn-default-color-hover:       lighten($color-secondary, 10%);
$btn-default-font-color:        white;
$btn-default-font-color-hover:  white;
$btn-default-font-size:         em(18);
$btn-default-padding:           10px 20px;
$btn-default-transition:        background-color 200ms ease-out;
$btn-default-antialiased:       true;

// Primary
$btn-primary-color:             $color-primary;
$btn-primary-color-hover:       lighten($color-primary, 10%);
$btn-primary-font-color:        white;
$btn-primary-font-color-hover:  white;
$btn-primary-font-size:         em(18);
$btn-primary-padding:           10px 20px;
$btn-primary-transition:        background-color 200ms ease-out;
$btn-primary-antialiased:       true;

// Large
$btn-large-color:             $color-primary;
$btn-large-color-hover:       lighten($color-primary, 10%);
$btn-large-font-color:        white;
$btn-large-font-color-hover:  white;
$btn-large-font-size:         em(30);
$btn-large-padding:           15px 40px;
$btn-large-transition:        background-color 200ms ease-out;
$btn-large-antialiased:       true;


/**
    FX and Action Colors
*/
$highlight-color: yellow;
