/** --------------------------------------------------------
    base/_base.scss
    --------------------------------------------------------
    @author Keenan Staffieri
    Base styles.
    -------------------------------------------------------- */

body {
    color: $font-color-base;
    background: page-background();
    font-family: $font-family-base;
}
