/** --------------------------------------------------------
    base/_base.scss
    --------------------------------------------------------
    @author Keenan Staffieri
    Base styles.
    -------------------------------------------------------- */

body {
    background: page-background();
}

hr {
    border: 0;
    border-bottom: 1px solid color('light-gray');
}
