/** --------------------------------------------------------
    base/_typography.scss
    --------------------------------------------------------
    @author Keenan Staffieri
    Typography styles.
    -------------------------------------------------------- */

// Get 'headings' map 'typography'
$headings: get-theme-property('typography', 'headings');

// Get total number of headings
$num-headings: length($headings);

// Generate heading selectors
@for $i from 1 through $num-headings {

    $heading:  nth($headings, $i);
    $selector: map-get($heading, 'selector');

    #{$selector} {
        // color
        @if map-has-key($heading, 'color') {
            color: get-color-compare(map-get($heading, 'color'));
        }
        // font-family
        @if map-has-key($heading, 'font-family') {
            font-family: get-font-family(map-get($heading, 'font-family'));
        }
        // font-size
        @if map-has-key($heading, 'font-size') {
            font-size: map-get($heading, 'font-size');
        }
        // font-weight
        @if map-has-key($heading, 'font-weight') {
            font-weight: map-get($heading, 'font-weight');
        }
        // text-rendering
        @if map-has-key($heading, 'font-antialias') {
            @if map-get($heading, 'font-antialias') == true {
                -webkit-font-smoothing: antialiased;
            }
        }
        // text-rendering
        @if map-has-key($heading, 'font-optimizelegibility') {
            @if map-get($heading, 'font-optimizelegibility') == true {
                text-rendering: optimizeLegibility;
            }
        }
    }
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    text-rendering: optimizeLegibility; // Fix the character spacing for headings
}

h1, h2 {
    font-family: $font-family-headings;
    font-weight: 100;
}

h3, h4 {
    color: $gray;
    font-family: $font-family-subheadings;
    font-weight: 400;

    &.subheading {
        margin-bottom: 1em;
    }
}

h5, h6 {
    font-family: $font-family-base;
}

h1 {
    font-size: em(36px);
}

h2 {
    font-size: em(32px);
}

h3 {
    font-size: em(26px);
}

h4 {
    font-size: em(22px);
}

h5 {
    font-size: em(20px);
}

h6 {
    font-size: em(16px);
}

p {
    margin: 0 0 1em 0;
    font-size: em(16px);
    line-height: em(26px);
}

a {
    color: $link-color;
    text-decoration: none;
    transition: color 200ms ease-out;

    &:hover {
        color: $link-hover-color;
    }

    &:active {
        color: $link-active-color;
    }
}

hr {
    border: 0;
    border-bottom: 1px solid $light-gray;
    margin: 2em 0;
}

img, picture {
    margin: 0;
    max-width: 100%;
}
