/** --------------------------------------------------------
    pages/_404.scss
    --------------------------------------------------------
    @author Keenan Staffieri
    404 page styles.
    -------------------------------------------------------- */

section.contain404 {
    height: 85vh;
    padding-top: 50px;
    text-align: center;

    h1 {
        margin-bottom: 10px;
    }
}
