/** --------------------------------------------------------
    pages/_index.scss
    --------------------------------------------------------
    @author Keenan Staffieri
    Index page styles.
    -------------------------------------------------------- */

/**
    .index-content
    Content section of the index page.
*/
section.index-content {
    padding: 60px 0;

    .col {
        @include span-columns(12);
        padding: 30px;

        h3 {
            color: color('black');
            margin-bottom: 5px;
            font-family: 'Source Sans Pro', sans-serif;
            text-align: center;
        }

        p {
            color: color('gray');
            font-size: em(14px);
            line-height: 24px;
            text-align: center;
        }

        @include media($small-up) {
            @include span-columns(4);
        }
    }

    i.fa {
        display: block;
        margin-bottom: 20px;
        color: theme-color('primary');
        font-size: em(100px);
        text-align: center;
    }
}


/**
    .style-preview
    Style preview section of the index page.
*/
section.style-preview {
    padding-bottom: 100px;

    .full-col {
        @include span-columns(12);
        padding-left: 20px;
        padding-right: 20px;
    }
}

/**
    .theme-color-styles
    Style preview section of the index page.
*/

.theme-color-styles {
    @include span-columns(12);
}

.color-tile {
    float: left;
    @include size(46% 50px);
    margin: 10px 2% 10px 2%;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);

    &.primary {
        background-color: theme-color('primary');
    }

    &.secondary {
        background-color: theme-color('secondary');
    }

    &.accent {
        background-color: theme-color('accent');
    }

    &.accent-shade {
        background-color: theme-color('accent-shade');
    }

    @include media($small-up) {
        @include size(100px);
        margin: 30px 20px 70px 0;
    }
}

.theme-styles {
    @include span-columns(12);
    margin-top: 50px;
}
