/** --------------------------------------------------------
    pages/_index.scss
    --------------------------------------------------------
    @author Keenan Staffieri
    Index page styles.
    -------------------------------------------------------- */

/**
    .index-content
    Content section of the index page.
*/
section.index-content {
    padding: 50px 0;

    .col {
        @include span-columns(4);

        p {
            text-align: center;
        }
    }

    i.fa {
        display: block;
        margin-bottom: 20px;
        color: theme-color('primary');
        font-size: em(100px);
        text-align: center;
    }
}
