/** --------------------------------------------------------
    layout/_footer.scss
    --------------------------------------------------------
    @author Keenan Staffieri
    Footer styles.
    -------------------------------------------------------- */

/**
    .main-footer
*/
.main-footer {
    border-top: 1px solid $light-gray;
}

.main-footer__inner {
    @include outer-container;
    @include pad(1em);
}

.main-footer__copyright {
    display: block;
    color: $gray;
    font-size: em(12px);
    text-align: center;
}
