/** --------------------------------------------------------
    layout/_footer.scss
    --------------------------------------------------------
    @author Keenan Staffieri
    Footer styles.
    -------------------------------------------------------- */

/**
    .main-footer
*/
.main-footer {
    padding: 20px;
    background-color: theme-color('secondary');
}

.copyright-line {
    display: block;
    color: color('gray');
    font-size: em(12px);
    text-align: center;
    letter-spacing: 1px;
    cursor: default;
}
