/** --------------------------------------------------------
    layout/_header.scss
    --------------------------------------------------------
    @author Keenan Staffieri
    Header styles.
    -------------------------------------------------------- */

/**
    H E A D E R
    Header styles.
    .main-header, .main-header-title
*/

.main-header {
    padding: 10px 0;
    background-color: theme-color('primary');

    @include media($small-up) {
        padding: 0;
    }
}

.main-header-title {
    @include span-columns(12);
    margin: 0;
    padding-left: 20px;
    color: white;
    font-size: em(30px);
    cursor: default;

    @include media($x-small-up) {
        @include span-columns(4);
    }
}
