/** --------------------------------------------------------
    layout/_header.scss
    --------------------------------------------------------
    @author Keenan Staffieri
    Header styles.
    -------------------------------------------------------- */

/**
    Main Header
    -----------------------------------
    .main-header
*/
.main-header {
    padding: 20px;
    // background-color: color('black');
    background-color: theme-color('primary');

    .title {
        @include span-columns(3);
        color: white;
        margin: 0;
        cursor: default;
        text-shadow: 1px 2px 0 darken($color-primary, 20%);
    }
}


/**
    Main Nav
    -----------------------------------
    .main-nav, .main-nav-list,
    .main-nav-item
*/
.main-nav {
    @include span-columns(9);
}

.main-nav-list {
    @include reset-list();
    float: right;
}

.main-nav-item {
    float: left;
    margin: 0 10px;

    &:last-child {
        margin-right: 0;
    }
}
