/** --------------------------------------------------------
    partials/_header.scss
    --------------------------------------------------------
    @author Keenan Staffieri
    Header styles.
    -------------------------------------------------------- */

/**
    .main-header
*/
.main-header {
    background-color: $color-primary;
    border-bottom: 2px solid $color-accent;
}

.main-header__inner {
    @include outer-container;
    @include pad(1em);
}

.main-header__site-title {
    color: white;
    margin: 0;
    cursor: default;
    text-shadow: 1px 2px 0 darken($color-primary, 20%);
}
