/** --------------------------------------------------------
    _fonts.scss
    --------------------------------------------------------
    @author Keenan Staffieri
    Include all custom webfonts.
    -------------------------------------------------------- */

/**
    Include custom fonts
*/
@include font-face('Open Sans','../fonts/opensans_regular/OpenSans-Regular-webfont');


/**
    font-face
    Include required file types for custom web font rendering.
        EXAMPLE:
        @include font-face('My Font','../fonts/family_name/font_name');
*/
@mixin font-face($family, $src, $weight: normal, $style: normal) {
    @font-face {
        font-family: $family;
        src: url('#{$src}.eot'); // IE9 compat
        src: url('#{$src}.eot?#iefix') format('embedded-opentype'), // IE8 and below
            url('#{$src}.woff') format('woff'), // standards
            url('#{$src}.ttf') format('truetype'), // Safari, Android, iOS
            url('#{$src}.svg##{$family}') format('svg'); // legacy iOS

        font-style: $style;
        font-weight: $weight;
    }
}
