/** --------------------------------------------------------
    _theme_settings.scss
    --------------------------------------------------------
    @author Keenan Staffieri
    Variables for theme settings.
    -------------------------------------------------------- */

/**
	Theme Colors
*/
$color-primary: 	blue;
$color-secondary: 	green;
$color-accent: 		yellow;

$bg-color: #f6f6f6;

/**
	Default Colors
*/
$light-gray: 	#ccc;
$gray: 			#999;
$dark-gray: 	#333;

/**
	FX and Action Colors
*/
$highlight-color: yellow;

/**
	Font Families
*/
$font-family-base: 'Open Sans', Helvetica, Arial, sans-serif;
$font-family-headings: 'Open Sans', Helvetica, Arial, sans-serif;
$font-family-subheadings: 'Open Sans', Helvetica, Arial, sans-serif;

/**
	Font Color
*/
$font-color-default: #1a1a1a;
