/** --------------------------------------------------------
    grid/_breakpoints.scss
    --------------------------------------------------------
    @author Keenan Staffieri
    Custom breakpoints.
    -------------------------------------------------------- */

// Screens
$screen-lg: em(1201);
$screen-md: em(1025);
$screen-sm: em(769);
$screen-xs: em(481);

// Breakpoints
$large:   new-breakpoint(min-width $screen-lg 12);
$medium:  new-breakpoint(min-width $screen-md 12);
$small:   new-breakpoint(min-width $screen-sm 12);
$x-small: new-breakpoint(min-width $screen-xs 12);
