/** --------------------------------------------------------
    grid/_breakpoints.scss
    --------------------------------------------------------
    @author Keenan Staffieri
    Custom breakpoints.
    -------------------------------------------------------- */

// Screens
$screen-desktop-lg: em(1201);
$screen-desktop:    em(1025);
$screen-tablet:     em(769);
$screen-mobile:     em(481);

// Breakpoints
$desktop-lg:    new-breakpoint(min-width $screen-desktop-lg 12);
$desktop:       new-breakpoint(min-width $screen-desktop    12);
$tablet:        new-breakpoint(min-width $screen-tablet     12);
$mobile:        new-breakpoint(min-width $screen-mobile     12);
