/** --------------------------------------------------------
    templates/_404.scss
    --------------------------------------------------------
    @author Keenan Staffieri
    404 page styles.
    -------------------------------------------------------- */

.contain404 {
    @include outer-container;
    @include pad(80px);

    h1 {
        font-size: em(80px);
        text-align: center;
        @include pad(20px);
        cursor: default;
    }

    p {
        color: $dark-gray;
        text-align: center;
    }
}
