/** --------------------------------------------------------
    templates/_index.scss
    --------------------------------------------------------
    @author Keenan Staffieri
    Index page styles.
    -------------------------------------------------------- */

/**
    Content section of the index page.
*/
.mainContent {
    @include outer-container;
    @include pad(1em);

    &__left {
        @include span-columns(12);

        @include media($tablet) {
            @include span-columns(8);
        }
    }

    &__right {
        @include span-columns(12);
        @include omega();
        margin-top: em(20);

        @include media($tablet) {
            @include span-columns(4);
        }
    }

    h1, h4 {
        cursor: default;
    }

    img {
        width: 100%;
    }
}

/**
    Main columns of the index page.
*/
.mainCols {
    @include outer-container;
    @include pad(1em);

    &__col {
        @include span-columns(12);

        @include media($tablet) {
            @include span-columns(4);
        }
    }

    h3 {
        color: $color-accent;
        margin-bottom: 0.25em;
        cursor: default;
    }

    p {
        font-size: em(14px);
    }
}
